body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
}
p {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
  background: rgb(94, 226, 17);
  align-items: center;
  padding: 30px;
  border: 3px double white;
  height: 0px;
  overflow: hidden;
}
.navigation ul {
  list-style: none;
}
.navigation li {
  display: inline-block;
  padding: 0px 20px;
}
.navigation li a:hover {
  color: rgb(255, 255, 255);
}
.navigation img {
  height: 70px;
}
.cont {
  padding: 9px 25px;
  background: rgb(223, 228, 221);
  border-radius: 50px;
}
.cont:hover{
  background: black;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.container1 {
  height: 300px;
  padding: 30px;
  align-items: center;
}
.container2 {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 12fr));
  column-gap: 20px;
  row-gap: 20px;
}
#box {
  background: rgb(94, 226, 17);
  height: auto;
  width: auto;
  text-align: center;
  color: white;
  transition: transform 500ms;
}
#box a {
  color: white;
}
#box:hover {
  transform: translateY(10px);
}
.box1,.box2,.box3,.box4,.box5 
{
  padding: 30px;
}
.foot {
  background: rgb(94, 226, 17);
  padding: 20px;
}
.foot footer {
  text-align: center;
}
.foot li:last-child {
  cursor: pointer;
  color: brown;
}
.box6 iframe {
  height: 85%;
  width: 90%;
}
.navigation img:hover {
  cursor: pointer;
}